<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="utilities.ListenerClass"></listener>
		<listener class-name="utilities.AnnotationTransformer"></listener>
	</listeners>
	<parameter name="username" value="wexom38833@ishop2k.com"></parameter>
	<parameter name="password" value="test123"></parameter> 
	<parameter name="browser" value="chrome"></parameter>
	<parameter name="baseURL" value="http://automationpractice.com/index.php"></parameter>
  <test name="Test">
	<classes>
		<!-- <class name="test.LoginPageDDT"></class> 
		<class name="test.HomePageTest"></class>
		<class name="test.LoginPageTest"></class>
		<class name="test.CreateAccountPageTest"></class>
		<class name="test.ContactInfoPageTest"></class>
		<class name="test.CartTest"></class>
-->
		<class name="test.CartTest"></class>
	</classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
